.logo {
    display: flex;
    justify-content: left;
    width:100%;
    height: 50px;
    box-sizing: border-box;
    background-color: rgb(33, 94, 112);
}

#bannerblanco {
    background-color: rgb(33, 94, 112);
    width:100%;
    text-align: center;
}

.banner {
    background-image: url('img/fondo.jpg');
    background-size: cover; /* La imagen cubre todo el contenedor */
    background-position: center; /* Centra la imagen */
    width:100%;
    margin: 0;
}

h2 {
    font-size:25px;
    text-align: center;
}


.nav-list {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size:15px;
}

.nav-list:hover {
    background-color: brown;
}

.nav-main {
    list-style: none;
    text-decoration: none;
    background-color: rgb(33, 94, 112);
    text-align: center;
    padding-left: -20px;
}

.productos {
    display: flex; /* Activar Flexbox */
    flex-wrap: wrap; /* Permitir que los productos se envuelvan */
    justify-content: space-between; /* Distribuir los productos con
    espacio entre ellos */
    padding: 20px; /* Relleno interno */
}

.producto {
    background-color: #2196F3; /* Fondo azul */
    color: white; /* Color del texto */
    padding:10px; /* Relleno interno de cada producto */
    margin: 30px; /* Margen externo de cada producto */
    flex: 1 1 200px; /* Ajuste flexible: crece, encoge, tamaño
    base 200px */
    box-sizing: border-box; /* Incluir relleno y borde en el tamaño
    total */
}

.producto img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


#footer {
    display: column;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: #eaeaea;
    justify-content: center;
    }

.grid-container {
        display: grid;
        grid-template-columns:  repeat(3, auto);
        grid-gap:  10px;
        padding: 10px;
        justify-content: space-around;
}

.centre {
    font-size:25px;
    margin: auto;
    padding: 10px;
    width: 60%;
    background-color: #ab1abe;
    justify-content: center;
}


@media only screen and (max-width: 500px) {
    .grid-container text {
        display: none;
    }
}

@media only screen and (min-width: 500px) {
    .logo {
        height: 75px;
    }
    .nav-list {
        font-size:25px;
        display: bottom;
        margin-right:20px;
    }
}

li {
    display: inline-block;
    text-align: left;
}

label {
    float:left;
    width:200px;
    font-size:25px;
    margin-top: 12px;
    clear:left;
}
input, textarea {margin-top: 12px;}
